* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  background-color: rgba(255, 252, 220, 0.8);
  width: 793px;
  height: 1122px;
  position: relative;
  z-index: 2;
}
.photo_container {
  position: absolute;
  content: "";
  right: 0;
  margin-right: -70px;
  top: 18px;
}
.bg_gradient{
  width: 100vw;
  height:200vh;
  position: absolute;
  opacity: 0.06;
  left: 18%;
  top:25%;
  z-index: -1;
}

